.power-up-flash.svelte-1mp0yfi{animation:svelte-1mp0yfi-flashPulse .3s ease-in-out infinite alternate}@keyframes svelte-1mp0yfi-flashPulse{0%{transform:scale(1);opacity:1}to{transform:scale(1.1);opacity:.8}}
